* {
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    cursor: url("resources/cursor/kursor-unactive.png"), default;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    color: whitesmoke;
    cursor: url("resources/cursor/kursor-active.png"), default;
}

/*
  SCROLLBAR
  */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: linear-gradient(#b6a55f, #765921);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.05), inset -2px -2px -2px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-track {
    background: linear-gradient(#022, #044);
}

.menu,
.footer {
    height: 70px;
    z-index: 3;
}
.stopka{
    background-color: #07212C  !important;
    border-color: #9B864F !important;
    border-width: 3px !important;
}

.menu {
    background-color: #013045;
    position: fixed;
    width: 100vw;
    border-color: #9B864F !important;
    border-width: 3px !important;
}

#tlo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.section {
    background-color: rgba(0, 0, 0, 0.7);
}

.champ1 {
    filter: brightness(50%) saturate(35%);
    position: relative;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    cursor: url("resources/cursor/kursor-active.png"), default;
}
.champ1:hover {
    filter: brightness(125%);
    cursor: url("resources/cursor/kursor-active.png"), default;
}

.intro {
    height: 100vh;
}

#btn-back-to-top {
    position: fixed;
    bottom: 10px;
    right: 20px;
    display: none;
    z-index: 999999;
    border-color: #9B864F !important;
}

#logo {
    z-index: 1;
    margin-top: 75px;
}
.btn-intro{
    background-color: rgba(0, 0, 0, 0.7);
    width: 50%;
    border-color: #9B864F !important;
    border-width: 3px !important;
}

.btn-intro:hover{
     animation: glow 1s ease-in-out infinite alternate;
}
button{
    cursor: url("resources/cursor/kursor-active.png"), default;
}
button:hover{
    cursor: url("resources/cursor/kursor-active.png"), default;
}
.img-text{
    background-color:#061C25 ;
    width: 250px;
    height: 325px;
}
audio{
    width: 250px;
}
svg:hover{
    cursor: url("resources/cursor/kursor-active.png"), default;
    fill:#fff;
}
i {
    cursor: url("resources/cursor/kursor-active.png"), default;
}
.champ_ahri{
    background: url("resources/champs/art-ahri.jpg"), no-repeat;
}

.champ_ahri:hover{
    background: url("resources/champs/art_ahri_skin.png"), no-repeat;
    animation: show 1s ease-in alternate;
}
.champ_aphelios{
    background: url("resources/champs/art-aphelios.jpg"), no-repeat;
}

.champ_aphelios:hover{
    background: url("resources/champs/art_aphelios_skin.png"), no-repeat;
    animation: show 1s ease-in alternate;
}
.champ_garen{
    background: url("resources/champs/art-garen.jpg"), no-repeat;
}

.champ_garen:hover{
    background: url("resources/champs/art_garen_skin.png"), no-repeat;
    animation: show 1s ease-in alternate;
}
.champ_jhin{
    background: url("resources/champs/art-jhin.jpg"), no-repeat;
}

.champ_jhin:hover{
    background: url("resources/champs/art_jhin_skin.png"), no-repeat;
    animation: show 1s ease-in alternate;
}
.champ_katarina{
    background: url("resources/champs/art-katarina.jpg"), no-repeat;
}

.champ_katarina:hover{
    background: url("resources/champs/art_katarina_skin.png"), no-repeat;
    animation: show 1s ease-in alternate;
}
.champ_lux{
    background: url("resources/champs/art-lux.jpg"), no-repeat;
}

.champ_lux:hover{
    background: url("resources/champs/art_lux_skin.png"), no-repeat;
    animation: show 1s ease-in alternate;
}
.champ_nasus{
    background: url("resources/champs/art-nasus.jpg"), no-repeat;
}

.champ_nasus:hover{
    background: url("resources/champs/art_nasus_skin.png"), no-repeat;
    animation: show 1s ease-in alternate;
}
.champ_rammus{
    background: url("resources/champs/art-rammus.jpg"), no-repeat;
}

.champ_rammus:hover{
    background: url("resources/champs/art_rammus_skin.png"), no-repeat;
    animation: show 1s ease-in alternate;
}
.champ_teemo{
    background: url("resources/champs/art-teemo.jpg"), no-repeat;
}

.champ_teemo:hover{
    background: url("resources/champs/art_teemo_skin.png"), no-repeat;
    animation: show 1s ease-in alternate;
}
.champ_yasuo{
    background: url("resources/champs/art-yasuo.jpg"), no-repeat;
}

.champ_yasuo:hover{
    background: url("resources/champs/art_yasuo_skin.png"), no-repeat;
    animation: show 1s ease-in alternate;
}
.champions-cards:first-child{
    display: flex;
}
.champions-cards{
    display: none;
}
.przycisk:hover{
     animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #95a503, 0 0 40px #95a503, 0 0 50px #95a503, 0 0 60px #95a503, 0 0 70px #95a503;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #95a503, 0 0 40px #95a503, 0 0 50px #95a503, 0 0 60px #95a503, 0 0 70px #95a503, 0 0 80px #95a503;
    }
}
@keyframes show {
    from {
      opacity: 0%;
    }
    to {
      opacity: 100%;
    }
}
